@model IEnumerable<LanguagesEncyclopedia.Views.Home.License>

@{
    ViewBag.Title = "Licenses";
}

<h2>Licenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LicenseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LicenseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LicenseID })
        </td>
    </tr>
}

</table>
